.repo-list {
    list-style: none;
    display: flex;
    overflow: scroll;
    height: 350px;
    flex-direction: column;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 0;

}

.repo-list__item {
    background-color: #c7c6c6;
    color: #E20813;
    margin-top: 1rem;
    border-radius: 5px;
}
