.statsContainer {
    display: flex;
    flex-direction: row;
}

.statsContainer div {
    margin-right: 10px;
}

.statsContainer span {
    font-size: 12px;
}

.stars i{
    color: rgb(241, 214, 62);
    margin-right: 10px;
    text-shadow: -1px 1px 1px rgb(170, 168, 168), -1px 1px rgb(170, 168, 168);
}

.forks i {
    margin-right: 10px;
    color: rgb(75, 75, 74)
}