.repoItem {
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color:  #f1eded;
    margin-top: 1rem;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.repoItem h3 {
    color: #E20813;
    font-size: 25px;
    margin-top: 10px;
    text-shadow: 1px 1px rgb(214, 211, 211);
}

.repoItemLink {
    text-decoration: none;
}

.repoItemButton {
    background: none;
    border: none;
    color: #E20813;
    text-shadow: 1px 1px rgb(155, 153, 153);
    font-size: 40px;
    font-weight: lighter;
    cursor: pointer;
}

.repoInfo {
    text-align: left;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repoInfo h3 {
    margin-bottom: 5px;
}

.repoInfo p {
    color: rgb(26, 26, 26);
    text-shadow: none;
    font-size: 14px;
}




