.loading {
    color: #f1eded;
    text-align: center;
    margin-top: 5rem;
}

.orgTitle {
    color: #f1eded;
    text-align: center;
    margin-top: 10rem;
}

.repoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    padding: 0;

}
