.container {
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    display: inline-block;
}

.container button {
    border: none;
    background: transparent;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background: #E20813;
    color: white;
}

.code {
    border-right: 1px solid rgb(129, 129, 129) !important;
}